ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    font-weight: 700;
}
ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    padding-top: 5px;
}
.search{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: -5px;
    right: 0;
}
.logo-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
}