# dependencies
node_modules/

# environment variables
.env

# production builds
build/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# uploaded images
backend/uploads/
backend/movieImages/