input{
    outline: none;
    border:none
}
.eyeBtn{
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.logInp{
  border:2px solid yellow;
  box-shadow: 0px 0px 10px #DA70D6;

}
 .logInp:hover {
  box-shadow:3px 3px 15px brown;
  transition: box-shadow 0.3s ease; 
} 
.login-btn:hover{
background-color: IndianRed !important;
transition: box-shadow 0.3s ease; 
} 