.inputs>input{
     color:black;
     outline:none;
     border:none;
     box-shadow:none;
} 
.password{
     background: white ;
     color:black;
     outline:none;
     border:none;
     box-shadow:none;
}
.password:hover{
     background: white ;
     color:black;
     outline:none;
     border:none;
     box-shadow:none;
}
.password>input{
    outline: none;
    border:none;
    box-shadow:none;
}
.password>input:hover{
    background: white;
    outline: none;
    border:none;
    box-shadow:none;
}
body{
    font-family: serif;
}
.signCon{
  box-shadow: 0px 0px 20px purple ;
}
.signCon:hover{
  box-shadow:3px 3px 15px brown;
  transition: box-shadow 0.3s ease; 
}